*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
}

.full_container{
    width:100vw;  
    display:flex;
    justify-content: center;
   
}

.container{
    
    display: grid;
    grid-template-columns:  3fr 1.5fr;
    gap:20px;
}

.left_container{
    position:fixed;
    top: 0;
    left:0;
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    margin-left: 8px;
    height: 100vh;
   border-right: 1px solid rgb(183, 181, 181);
}

.app_name{
    margin-top: 35px;
    margin-bottom: 55px;
    margin-left: 20px;
}

.app_name p{
    text-align: center;
    font-size: 20px;
    font-family: 'Billabong', cursive;
}

.menu_container{
    display:flex;
    gap:20px;
    flex-direction: column;
    
}

.menu_container p{
    font-size: 17px;
}

.menu_container div, .left_down_container div{
   display: flex;
   gap:10px;
   width: 90%;
   align-items: center;
}

.menu_container img, .left_down_container img {
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    margin: 5px;
}

.left_down_container{
    display: flex;
    flex-direction: column;
    width:90%;
    margin-top: 80px;
    gap:15px;
}

.right_profile_img_container img , .suggest_container img, .suggest_img_container img{
    width:40px;
    height:40px;
    border-radius:50%;
}
.right_container{
    
    display: flex;
    flex-direction: column;
    align-items:start;
    gap:20px;
   margin-left: -80px;
   margin-top: 40px;
}

.right_profile_img_container{
    display: flex;
    
}

.inside_manage_right_container, .suggest_name_follow{
    display: flex;
    flex-direction: rows;
}

.right_switch_container,.suggest_follow{
    display: flex;
    align-items: center;
    margin-left:20px;
}

.right_suggest_container{
    display: flex;
    flex-direction: column;
   gap:10px
}



.suggest_follow{
   display: flex;
   justify-content: center;
   margin-left:10px;
}

.suggest_container div{
  display:flex;
  gap:10px;
  
}

.suggest_name{
   gap:0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.one_suggestion{
    display:flex;
    margin-bottom: 10px;
}

.middle_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.story_horizontal_container{
    display: flex;
    width:50%;
     overflow-y: auto;
     border: none;
    scrollbar-width: none;
}

.story_horizontal_container img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 2px;
    border: 4px solid grey;
    margin:7px;
   
}

.story_horizontal_container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post_container{
    display: flex;
    flex-direction: column;
    width:30%;
}

.one_post{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.poster_info{
    display: flex;
    align-items: center;
    width:100%;
    gap:5px;
}

.user_profile img{
    width:40px;
    height: 40px;
    border-radius: 50%;
}

.hamburger{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hamburger img{
    width: 25px;
    height: 5px;
    margin-right: 5px;
}

.post_image img{
   width:100%;
   height:500px;
}

.different_liking_icon{
    display: flex;
    align-items: center;
}

.different_liking_icon div{
    display: flex;
    gap:10px;
}

.different_liking_icon img{
  width:30px;
  height: 30px;
}

.save_icon{
    width: 100%;
    display: flex;
    justify-content: end;
}

.caption_post{
    margin:8px 5px 8px 0px;
}

.right_name{
    margin-left:5px;
}









